lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.DS_store
*.swo
*.swp
*.un~
*.sublime-project
*.sublime-workspace
dump.rdb
bower_components/
appconfig.yaml
app
assets/javascripts/vendor/*
assets/stylesheets/vendor/*
public/
.mimosa/
components/

node_modules
tmp
.tmp

pids
logs
results
dist

app/components
app/tmp/api_credentials.json

npm-debug.log

